.userPage{
  
}

#logo{
    height: 8px;
    color: aliceblue;
  }
.profileIcon{
  /* font-size: inherit; */
  /* font-weight:100; */
  font-size:14px;
}
.profileText{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navBtn{
    width: min-content;
}
.avatar{
  /* position: relative; */
  margin: 0 2px;  
}
.write-btn{
    /* margin: 0 30px 0; */
}
.postData{
    
    display: flex;
    /* flex-wrap: wrap; */
    flex: 9;
}
#writeBtn{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}