.header {
  position: sticky;
  top:0;
  padding: 0.5% 0px;
  font-weight: bold;
  font-size: 1.3rem;
  background: linear-gradient(to bottom, rgb(245, 245, 245) 0%, #f3f7f7f1 100%);
}
.header img {
  height: 28px;
}
.login {
  text-align: right;
}
.btn-sm {
  width: fit-content;
  padding: 2%;
  height: fit-content;
  margin: 0 6px;
}
